https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.0/wallycore-0.7.0-cp27-cp27mu-linux_x86_64.whl; 'linux' in sys_platform and python_version == '2.7' --hash=sha256:dddfce5585bd49918af0101e9a482a1f487fee85887451e403605561afb8eac8
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.0/wallycore-0.7.0-cp35-cp35m-linux_x86_64.whl; 'linux' in sys_platform and python_version == '3.5' --hash=sha256:85ff042bbefdafaacb35e8621939724780d293a349a5d5de0ede43e9ec2ea399
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.0/wallycore-0.7.0-cp36-cp36m-linux_x86_64.whl; 'linux' in sys_platform and python_version == '3.6' --hash=sha256:032a7d8b598ea57dd742840f49073faf5c10fa1d95f169bdf6aac3b435638cbc
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.0/wallycore-0.7.0-cp27-cp27m-macosx_10_14_intel.whl; sys_platform == 'darwin' and python_version == '2.7' --hash=sha256:e40b8af553bc6e2a8f5c4c77d280e4e5ffc67696870e2fdfd4bd6a8c8d8e056a
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.0/wallycore-0.7.0-cp37-cp37m-macosx_10_13_x86_64.whl; sys_platform == 'darwin' and python_version == '3.7' --hash=sha256:bcb3e0a4adb6b323331e49bd735edbbc67a04840822c2d4d9debebf8f818f2c4
https://github.com/ElementsProject/libwally-core/releases/download/release_0.7.0/wallycore-0.7.0-cp36-cp36m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.6' --hash=sha256:84e3c3ccee83b5a7aa9a10a3939504c5376d1d65b4f67bc586d470b15786b881
https://github.com/ElementsProject/libwally-core/archive/release_0.7.0.tar.gz; --hash=sha256:fc1ed3bd0f0d5548d9cef77ceac9dc8f81a90f42e85f5131d3ffa1f830fede7e
